

{/* <h1>Helleo ejs template </h1> */}
{/* <p>Hi <%= data %></p>


 */}

const data = ({ CovidData } = Axios.get(
  `https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?${where}=1%3D1&outFields=*&outSR=4326&f=json`
).then(response => {
  console.log(response);
}));
